<h1>Yo, <em>beeeatch!</em></h1>
<p>This is <strong>dope.</strong></p>
<p>© <%= Time.now.year %></p>
<ul>
  <% @usernames.each do |username| %>
    <li>
      <em><%= username %>'</em><%= "s length is #{username.size}" %>
    </li>
  <% end %>
</ul>
