<h1>This is the list of your recipes:</h1>
<ol>
  <% @recipes.each do |recipe| %>
    <li>
      <%=
      mark = recipe.done? ? '[x]' : '[ ]'
      gravity = recipe.gravity.nil? ? '' : " | #{recipe.gravity}"
      preptime = recipe.preptime.nil? ? '' : " | #{recipe.preptime}"
      "#{mark} #{recipe.name}#{gravity}#{preptime}"
      %>
    </li>
  <% end %>
  <li>
    <a href="/new">Add new</a>
  </li>
</ol>
