<h1>Add a recipe</h1>

<form action="/recipes" method="post">
  <legend>Name:</legend>
  <input type="text" name="name">

  <legend>Description:</legend>
  <input type="text" name="blurb">

  <legend>Difficulty:</legend>
  <input type="radio" name="gravity" id="option 1" value="molto bassa">
  <label for="option 1">molto bassa</label>
  <input type="radio" name="gravity" id="option 2" value="bassa">
  <label for="option 2">bassa</label>
  <input type="radio" name="gravity" id="option 3" value="media">
  <label for="option 3">media</label>
  <input type="radio" name="gravity" id="option 4" value="alta">
  <label for="option 4">alta</label>

  <legend>Preparation time:</legend>
  <input type="radio" name="preptime" id="option 1" value="5 min">
  <label for="option 1">5 min</label>
  <input type="radio" name="preptime" id="option 2" value="15 min">
  <label for="option 2">15 min</label>
  <input type="radio" name="preptime" id="option 3" value="30 min">
  <label for="option 3">30 min</label>
  <input type="radio" name="preptime" id="option 4" value="60 min">
  <label for="option 4">60 min</label>

  <div>
    <input type="submit" value='Add recipe'>
  </div>
</form>
