#copy {
  font-size: 2rem;
}

.spaced {
  opacity: .75;
  letter-spacing: .1em;
}

ol {
  list-style: none;
  font-family: monospace;
}

.addrecipe {
  font-family: monospace;
}

.addrecipe .option {
  font-weight: lighter;
}

.addrecipe div {
  margin-bottom: 1rem;
}
